.container {
  width: 70vw;
  display: block;
}

.container h2 {
  width: 40%;
  margin: auto;
  padding: 10%;
  padding-top: 2%;
  padding-bottom: 4%;
  min-width: 200px;
}
.card {
  min-width: 200px;
  background-color: #ececec;
}
