.Moviesp {
  color: white;
}

.Movie--item {
  padding: 1%;
  justify-content: space-between;
  display: flex;
  margin: auto;
  width: 60%;
  background-color: #ececec;
  border-radius: 10px;
  margin-top: 50px;
}

.Movie--item p {
  color: black;
  font-family: montserrat;
}

.hb--bt {
  display: inline;
  justify-content: space-between;
}

.hb--bt Button {
  background-color: transparent;
  margin-right: 10px;
}

.hb--bt Button:focus {
  background-color: #006d77;
}

.Title {
  padding-top: 5vh;
  text-align: center;
}

.Profile--container {
  width: 70%;
  margin: auto;
}

.Profile--Background {
  background-image: url('../../imgs/wpp2.jpg');
  width: 100vw;
  height: calc(100vh - 56px);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.Profile--Background1 {
  background: rgba(0, 0, 0, 0.6);
  width: inherit;
  height: inherit;
}
