.Error--background {
  position: absolute;
  top: 55;
  left: 0;
  width: 100%;
  height: calc(100vh - 56px);
  background: url(https://9gag.com/s/fab0aa49/f046dc913c01f21801e63fc32a3fb8c558bab5a1/static/dist/web/img/404/bg.gif)
    50% no-repeat;
  background-size: cover;
  z-index: -1;
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Error-heading {
  font-size: 30vh;
  color: black;
}
.Error--container {
  text-align: center;
}
